<!doctype html>
<html class="{{classes}}" lang="en">
  <head>
    <title>{{ title }} - Bram Stein</title>
    <meta charset="utf-8">
    <link rel="prefetch" href="https://use.typekit.net/sta3bzx.js">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header>
      <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 234 234"><path fill="none" stroke="#333" stroke-width="28" stroke-miterlimit="10" d="M231 111c-69.7 0-19.9 93-90 93M13 38v120c0 29 25 46 47 46 24 0 47.1-19.5 47-46-.2-46.2-47-46-47-46"/></svg>
      <nav>
        <ul>
          <li><a class="home" href="/">Home</a></li>
          <li><a class="working" href="/working/">Working</a></li>
          <li><a class="speaking" href="/speaking/">Speaking</a></li>
          <li><a class="writing" href="/writing/">Writing</a></li>
        </ul>
      </nav>
    </header>
    <article>
      {{{ contents }}}
    </article>
    <hr>
    <footer>
    <p>Copyright © 2010–2015 Bram Stein. Text set in Expo Serif Pro, Expo Sans Pro and Source Code Pro. If you have any questions send an email to <a href="mailto:b.l.stein@gmail.com">b.l.stein@gmail.com</a> or <a href="https://twitter.com/bram_stein/">follow me on Twitter</a>.</p>
    </footer>
    <script async src="/assets/js/typekit.js"></script>
  </body>
</html>
